wp-content/uploads
wp-content/updraft
.idea
.idea/*
wp-content/cache
wp-content/debug.log
wp-content/plugins/ct-listing-analytics/tmp
wp-content/advanced-cache.php
wp-content/db.php
wp-content/object-cache.php
wp-content/plugins/ct-listing-analytics/tmp/
