
# BEGIN WebP Express
# The directives (lines) between "BEGIN WebP Express" and "END WebP Express" are
# dynamically generated, and should only be modified via WordPress filters.
# Any changes to the directives between these markers will be overwritten.
# The rules below is a result of many parameters, including the following:
#
# WebP Express options:
# - Operation mode: cdn-friendly
# - Redirection to existing webp: disabled
# - Redirection to converter: disabled
# - Redirection to converter to create missing webp files upon request for the webp: enabled
# - Destination folder: mingled
# - Destination extension: append
# - Destination structure: doc-root
# - Image types: jpeg, png
# - Alter HTML enabled?: yes
#
# Wordpress/Server configuration:
# - Document root availablity: Available and its "realpath" is available too. Can be used for structuring cache dir.
#
# .htaccess capability test results:
# - mod_header working?: no
# - pass variable from .htaccess to script through header working?: no
# - pass variable from .htaccess to script through environment variable working?: yes
#
# Role of the dir that this .htaccess is located in:
# - Is this .htaccess in a dir containing source images?: yes
# - Is this .htaccess in a dir containing webp images?: no


# END WebP Express